@font-face {
  font-family: 'MyFont';
  src: url('../Font/Leo.otf')

}


/* Navbar */
.navbar{
  height: 5vw;
  width: 96vw;
  position: fixed;
left: 2vw;
border-bottom-style: double;

}

/* End */

/* Posts */

.postsContainer{
  height: 83vw;
}

.posts{
  /* background: green; */
  height: 102vw;
      width: 75vw;
      position: relative;
      left: 13vw;
  display: -webkit-inline-box;
  top: 5vw;


}

.post{
  background: white;
  height: 37%;
  border-style: solid;
  margin-top: 1vw;
  border-width: 0.2vw;
  margin-left: 1vw;
  width: 50vw


}

.spiral{
  height: 3vw;
float: right;
position: relative;
bottom: 4vw;
right: 2vw;
}

.break{
  height: 1vw;
  /* background: red; */
  border-top-style: solid;
  border-width: .1vw;
  width: 30vw;
  position: relative;
  left: 8vw;
  top: .3vw;
}

/* End */

/* Cloud */
.cloud {
  text-align: center;
  box-sizing: border-box;
  width: 41vw;
  height: 34vw;
  padding: 6vw 1em 0 1em;
  margin: 1vw 5vw;
  position: relative;
  background-color: skyblue;
  border-radius: 128% 111% 111% 121%;
  z-index: 2;
  top: 2vw;
  left: 16vw;

}


.cloud::before,
.cloud::after {
  content: '';
  position: absolute;
  bottom  : 0;
  z-index : -1;
  background-color: skyblue;
  border-radius: 100%;

}

.cloud::before {
  width: 32vw;
  height: 23vw;
  left: -14vw;
}

.cloud::after {
  width: 30vw;
  height: 22vw;
  right: -14vw;

}
/* End */

/* Video Post */
.videoContainer{
  height: 23.1vw;
  position: relative;
  top: 1vw;
  width: 36.7vw;
  left: 6.3vw;

}

/* End */

.desc{
  position: relative;
  top: -1vw;
  font-size: 1.4vw;
  left: -3vw;

}

.user{
  position: relative;
  right: 11vw;
  top: 1vw;
  font-size: 2.2vw;

}

#y{
  opacity: .8;
}

.title{
  font-family: "MyFont";
  font-size: 3.3vw;
  position: relative;
left: 1vw;

}

.vlog{
  display: flex;
  position: relative;
  top: -3vw;
  left: 2vw;
}
.stick{
  font-size: 5vw;
position: relative;
top: -3vw;
}




/* sidebar */
.sideBar{
  background: thistle;
  height: auto;
  float: left;
  width: 25vw;
  position: fixed;
  z-index: 2;
  top: 6vw;
  left: 1vw;




}

.choiceContainer{
  height: 5vw;
  border-style: double;
  text-align: -webkit-center;
}

.choice{
  position: relative;
  top: -1vw;
  font-size: 2.5vw;

}

.white{
  float: left;
background: white;
height: 49vw;
width: 26vw;
top: 9vw;
position: fixed;
z-index: 1;
}

.min-title{
  font-size: 2vw;
left: 1vw;
position: relative;
top: 2.5vw;
font-family: MyFont;
color: thistle;
}
