@font-face {
  font-family: 'MyFont';
  src: url('../Font/Leo.otf')

}


/* Navbar */
.navbar{
  height: 5vw;
  width: 96vw;
  position: fixed;
left: 2vw;
border-bottom-style: double;

}

/* End */

/* Posts */

.postsContainer{
  height: 83vw;
}

.posts{
  /* background: green; */
  height: 102vw;
      width: 75vw;
      position: relative;
      left: 13vw;
  display: -webkit-inline-box;
  top: 5vw;


}

.post{
  background: white;
  height: 37%;
  border-style: solid;
  margin-top: 1vw;
  border-width: 0.2vw;
  margin-left: 1vw;
  width: 50vw


}

.postBottom{
  position: relative;
  top: -59vw;
}

.spiral{
  height: 3vw;
float: right;
position: relative;
bottom: 4vw;
right: 2vw;
cursor: pointer;


}

.break{
  height: 1vw;
  /* background: red; */
  border-top-style: solid;
  border-width: .1vw;
  width: 30vw;
  position: relative;
  left: 8vw;
  top: .3vw;
}

.comment{
  height: 3vw;
position: relative;
left: -20vw;
top: 0.8vw;
cursor: pointer;

}

.bottom-bar{
  position: relative;
  left: 2vw
}

.back{
  position: relative;
  bottom: 18vw;
  width: 50vw;
  background: yellowgreen;
  height: 23vw;
  background-image: url(https://thumbs.gfycat.com/IdleRespectfulDuiker-mobile.jpg);
  background-size: 51vw 26vw;
  background-position: -1vw -2vw;

}
/* End */

/* Cloud */
.cloud {
  text-align: center;
  box-sizing: border-box;
  width: 41vw;
  height: 34vw;
  padding: 6vw 1em 0 1em;
  margin: 1vw 5vw;
  position: relative;
  background-color: skyblue;
  border-radius: 128% 111% 111% 121%;
  z-index: 2;
  top: 2vw;
  left: 16vw;

}


.cloud::before,
.cloud::after {
  content: '';
  position: absolute;
  bottom  : 0;
  z-index : -1;
  background-color: skyblue;
  border-radius: 100%;

}

.cloud::before {
  width: 32vw;
  height: 23vw;
  left: -14vw;
}

.cloud::after {
  width: 30vw;
  height: 22vw;
  right: -14vw;

}
/* End */

/* Video Post */
.videoContainer{
  height: 23.1vw;
  position: relative;
  top: -40vw;
  width: 36.7vw;
  left: 6.3vw;

}

/* End */

.desc{
  position: relative;
  top: -1vw;
  font-size: 1.4vw;
  left: -3vw;

}

.user{
  position: relative;
  right: 0vw;
  font-size: 2.2vw;
  width: 27vw;

}

#y{
  opacity: .8;
}

.title{
  font-family: "MyFont";
  font-size: 3.3vw;
  position: relative;
  left: -2vw;
top: -12vw;


}

.vlog{
  display: flex;
  position: relative;
  top: -3vw;
  left: -2vw;
  z-index: 10;
  background: white;
  height: 8vw;
  width: 100vw;
}
.stick{
  font-size: 5vw;
position: relative;
top: -3vw;
    left: -7vw;
}




/* sidebar */
.sideBar{
  background: thistle;
  height: auto;
  float: left;
  width: 25vw;
  position: fixed;
  z-index: 2;
  top: 6vw;
  left: 1vw;




}

.choiceContainer{
  height: 5vw;
  border-style: double;
  text-align: -webkit-center;
  cursor: pointer;

}

.choice{
  position: relative;
  top: -1vw;
  font-size: 2.5vw;

}

.white{
  float: left;
background: white;
height: 54vw;
width: 26vw;
top: 5.2vw;
position: fixed;
z-index: 1;
}

.min-title{
  font-size: 2vw;
  left: 4vw;
position: relative;
top: -17.9vw;
font-family: MyFont;
color: thistle;
}

.logo{
width: 13vw;
position: relative;
left: 3vw;
}

/* https://codepen.io/adauto-dauto-oliveira/pen/mGmpNj?page=5 */

#animationWindow {
  width: 13vw;
height: 6vw;
position: relative;
left: 35vw;
top: 2.3vw;
}

.animation-circle, #circle2{
  height: 4vw;
  width: 6vw;
  border-radius: 50%;
  position: relative;
  top: 3.3vw;
  left: 25.4vw;
  border-style: solid;
  border-width: .06vw;
}

#circle2{
  background: transparent;
  left: 19.3vw;
    border-width: 0vw;
/* visibility: hidden; */
}

/* #animationWindow {
 width: 800px;
 height: 600px;
 left:100px;
 top:100px;
 position:absolute;

} */

 svg{
  width: 8vw;
height: 100%;
filter: brightness(0.4) sepia(1) hue-rotate(-115deg) saturate(9);
}
