.setting{
  left: 51vw;
position: relative;

}

.think{
  height: 4.5vw;
    top: 3vw;
    position: relative;
    cursor: pointer;

}

.setting-name{
  font-size: 1.3vw;
position: relative;
top: -2vw;
cursor: pointer;

}
